Libraries/.idea/workspace.xml
Libraries/.idea/inspectionProfiles/profiles_settings.xml
Libraries/.idea/vcs.xml
Libraries/.idea/modules.xml
Libraries/.idea/misc.xml
Libraries/.idea/Libraries.iml
Libraries/.idea/inspectionProfiles/Project_Default.xml
runtemp
